@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Demo</h1>
    <p class="lead">This is an MVC Demo for CRUD with validation, authentication, uploading images to database, one to many relationship (car->maintenance), pagination and search.</p>
    <p><a href="/car" class="btn btn-primary btn-lg">Car Demo &raquo;</a></p>
    <img class="img-responsive" src="~/images/header1.jpg" />
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2 class="text-center">Ford</h2>
        <img class="img-responsive img-thumbnail" src="~/images/ford.png" />
        <p>
            Ford Motor Company, commonly known as Ford, is an American multinational automaker that has its main headquarters in Dearborn, Michigan, a suburb of Detroit.
        </p>
        <p><a class="btn btn-default" href="/car">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Jeep</h2>
        <img class="img-responsive img-thumbnail" src="~/images/jeep.png"/>
        <p>Jeep is a brand of American automobile and also a division of FCA US LLC, a wholly owned subsidiary of the Italian-American corporation Fiat Chrysler Automobiles.</p>
        <p><a class="btn btn-default" href="/car">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Toyota</h2>
        <img class="img-responsive img-thumbnail" src="~/images/toyota.png"/>
        <p>Toyota Motor Corporation is a Japanese multinational automotive manufacturer headquartered in Toyota, Aichi, Japan.</p>
        <p><a class="btn btn-default" href="/car">Learn more &raquo;</a></p>
    </div>
</div>